* {
    user-select: none;
}

html, body,
#loading-div, #bw-cli-not-installed, #not-logged-in, #vault-is-locked {
    width: 100%;
    height: 100%;
}

#loading-div .d-flex,
#bw-cli-not-installed .d-flex,
#not-logged-in .d-flex,
#vault-is-locked .d-flex {
    height: 90%;
}

.icon-large {
    font-size: 100px;
}

#account-template {
    display: none;
}

.account {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--bs-gray-700);
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
}

.last-account {
    border-bottom-style: none;
}

.account-totp-expires {
    width: 20px;
    height: 20px;
    background: conic-gradient(transparent var(--expires), var(--bs-primary) 0);
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.account-copy-totp {
    position: absolute;
    bottom: 10px;
    left: 120px;
}

.account-qr-code {
    position: absolute;
    bottom: 10px;
    left: 157px;
}
